* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(AI-image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    flex-direction: column;
    background-attachment: fixed;
}
.hero{
    padding: 10px;
    margin: 50px auto;
    padding:20px;
    max-width:800px;
}
.header {
font-size:1.8rem;
margin:20px;
}
.form{
    display: flex;
    outline:none;
    border:none;
   position: relative;
}
.form input {
    font-size:30px;
    padding:5px;
    outline:none;
border:none;
border-radius: 40px;
width:100%;
}
.form #selection, .btn {
    position:absolute;
    top:0;
    right:0;
}
.form #selection {
right: 120px;
border:none;
outline:none;
height:100%;
padding:5px;
margin-inline: 8px;

font-size: 20px;
cursor: pointer;
font-weight: 500;
color:#000;

}
.form .btn {
height:100%;
border-radius: 40px;
border: none;
outline: none;
background-color: rgb(10, 89, 10);
font-size:25px;
padding:10px;
color:#fff;
cursor: pointer;
}
.img-section {
    display: flex;
    margin:40px 0;
    padding:0 15px;
    max-width:1250px;
    gap:10px;
    justify-content: center;
    flex-wrap:wrap;
    
}
.img-section div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    background: #f2f2f2;
}
.img-section .loading img{
   padding:80px;
}
.img-section img{
    width:200px;
    height:200px; 
}
.img-section a {
position: absolute;
bottom:5px;
right:2px;
font-size:20px;
padding:10px;
color:#000;
cursor: pointer;
background-color: #fff;
border-radius:50%;
display:none;
}
.img-section div:not(.loading):hover .download-btn{
    display:block;
    cursor:pointer;
}

@media screen and (max-width:760px){
   .hero h1{
    font-size:1.8rem;
   }
   .hero p{
    font-size:1rem;
   }
   .form{
    margin-top:20px;
    height:52px;
    display:block;
   }
   .form #selection, .btn {
    margin:60px;
   }
   .form #selection {
    margin-inline: 100px;
   }
   .form input{
    font-size:24px;
   }
   .img-section{
    margin-top:40px;
   }
   

.img-section{
    display:grid;
}
}
